<a href="https://colab.research.google.com/github/quantviews/CBR/blob/master/Python_introduction_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [2]:
# similar to "Hello world!"" examples
message = "this is our program!"
print(message)

this is our program!

Before programming:

1. what is a program, how can it run (`python code.py`)
2. **command line**
3. filesystem (navigating and finding files)
4. markdown (for example for text cells in Colab)

# Suggested reading:

Python ecosystem:

- [Developer survey](https://lp.jetbrains.com/python-developers-survey-2021/) - what are top 3 use areas for Python?

- [Github projects by popularity](https://github.com/topics/python?o=desc&s=stars)

Economics-related reading:

  - [Scipy Lectures - First Steps](http://scipy-lectures.org/intro/language/first_steps.html) (*)
  - [Quantecon Learning Python](https://python-programming.quantecon.org/python_essentials.html) (*)

Good list of topics to cover:

  - https://github.com/trekhleb/learn-python#table-of-contents (*)

(\*) core for this part of the course

Official Python documentation:

  - [tutorial](https://docs.python.org/3/tutorial/index.html)
  - [glossary](https://docs.python.org/3/glossary.html)

Advanced levels - developer track:

- [StackOverfow](https://stackoverflow.com/questions/tagged/python):
   (note 3000-5000 upvotes range), check out [MRE](https://stackoverflow.com/help/minimal-reproducible-example)

# Values and expressions

In [3]:
price = 676.88
q = 100
print(price * q)

# What this calculation may signify?
# What other values p and q might take?
# Can you assume any restrictions on p and q?

67688.0

In [ ]:
# What could this check do?
(price >= 720)

False

In [ ]:
False

False

In [ ]:
a = "ABC"
a

'ABC'

In [ ]:
score = 77
if score > 60:
  print("Course passed!")
else:
  print("Need retake")

Course passed!

In [ ]:
# =
#  ==

In [ ]:
x = 2             # assignment
y = (x != "A")    # comparison
(y is True)       # comparison

True

In [ ]:
# situation - what to do on branching?

# name it? calculate_tax
profit = 600
if profit > 0:
   tax = profit * .15
else:
   tax = 0

# testing of the code
# assert (tax == 2)

In [ ]:
# here is our function for taxes:

def calculate_tax(profit: float, tax_rate: float) -> float:
  if profit > 0:
     return profit * tax_rate
  else:
     return 0

# test driven development - write a test BEFORE you write code - advanced
t = calculate_tax(100, .2)
t

20.0

In [ ]:
def func():
  pass

In [ ]:
abs(-2)

2

In [ ]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [ ]:
pow?

In [ ]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [ ]:
2 ** 3

8

In [ ]:
pow(3, 2)
3 ** 2

9

In [ ]:
# calculation:
r = .06
x = 1 / pow(1 + r, 3)
x

0.8396192830323018

In [ ]:
# strings
instructor_name = "Marcel" + " " + "Salikhov"
print(instructor_name)

Marcel Salikhov

In [ ]:
x = len(instructor_name) < 256

In [ ]:
xs = ["MICEX", "NYSE", "NASDAQ", "Euronext", "LSE", "Tokyo"]

In [ ]:
sorted(x.upper() for x in xs)

['EURONEXT', 'LSE', 'MICEX', 'NASDAQ', 'NYSE', 'TOKYO']

In [ ]:
2 == 2

Recap on terminology:

- *value* - a number, a string or some other entity used for calculation
- *expression* - is a combination of values, operators and function calls that will evaluate to a new value
- variables are assigned to hold values, by using assignment operator `=`
- variables can point data strucures likes lists and have access notation
- there are comparison operators `==`, `!=`, `>`, `<` (see a [practice list here](https://github.com/trekhleb/learn-python))
- `print()`, `help()`, `len()` and some other built-in functions are available

# Variable assignment

Note: variable assignment is NOT math equation equality. An expression on the right gets assigned to a variable on the left. In other programming languages assignment operator may be `<-` (R) or `:=` (Pascal).

In [ ]:
my_var = 1
my_var = my_var + 2  # this is valid code
print(my_var)

3

In [ ]:
# i is counter
i = 0
# ...
i = i + 1

In [ ]:
# in Python type variable can be reassigned,
# but as code style this is not encouraged
z = 0
z = True
z = "oh, no!"

Variable naming:

- so far we give very short names to variables in excercises
- longer names usually use underscore

In [ ]:
y = g()

NameError: ignored

In [ ]:
y is None

False

In [ ]:
type("True")

str

# Types

Values have types. You can think of a type as a group of similar values. Example: all interger values are members of type 'int'.

These types are provided out of the box:

- `int`
- `float`
- `str`
- `bool`
- `None`

Python allows you not to think of types at all - and it is good for start.

- hard to reason about types before you explore your task well
- not always you need 5-7 types of `integer`
- type notation can grow very cumbersome

But why bother about types?

- better structure and stability of the programs
- more guarantees, easier to build large programs
- understanding error messages
- better computer representation of data
- programs usually runs faster
- may have different operations on different types (eg "multiple dispatch" in Julia)
- strong [theory about types](https://thinkingwithtypes.com/)

Python is a dynamically typed language, but there are _type annotations_ that improve readibilty of the program and can be checked by external tools (eg mypy).

Terminology:
- static typing (Rust, nimlang, vlang, Haskell)
- dynamic typing (Python, Ruby, Julia)

Reading:
- https://stackoverflow.com/questions/1517582/what-is-the-difference-between-statically-typed-and-dynamically-typed-languages

Supplementary discussion (in Russian):
- https://twitter.com/gaxeliy/status/1430785060756725760

In [ ]:
# Use function type() to find out the types of values
type("abc")

str

In [ ]:
type(5)

int

In [ ]:
type(5.0)

float

In [ ]:
type(5 > 2)

bool

In [ ]:
# To checking on type in code:
x = 5.0
isinstance(x, int)

False

Questions for a exam test:

- what is the types of `<expression>`
- how can you `<achieve some computations task>`
- what is the meaning of `<a small computation>`
- basic terminology

Can also cover:
- error messages

In [ ]:
type(-5.5)

float

# What extra types we need?

Important build-in types:

- integers `int`
- real numbers `float`
- strings `str`
- boolean `bool` (just `True` or `False`)
- "nothing" `None`

What are we missing? Any other types needed? (Hint: something we may need use,
but not well-described by types above).

Let us make a list:

- infinity (numpy np.inf)
- complex
- dates

In [ ]:
"2023-08-30"

'2023-08-30'

In [ ]:
year = 2023
month = 3
day = 17
# timedelta (?)

In [ ]:
#ISO format
course_start = "2023-03-17"
next_session = "2023-03-22"
course_start < next_session

True

In [ ]:
"2023-03-17"

'2023-03-17'

In [ ]:
from datetime import date
a = date(2023, 2, 15)
b = date(2023, 2, 1)
a-b

datetime.timedelta(days=14)

In [ ]:
from datetime import datetime

def today():
   return datetime.today().date().isoformat()

print(today())

2023-09-06

In [ ]:
today()

'2023-09-06'

In [ ]:
"abc" + "True"

'abcTrue'

# Containers and iteration

- lists
- tuples
- dictionaries
- sets

## Lists

What do these numbers and strings may mean? Is it useful to group them together?

In [ ]:
# https://bit.ly/3loSwG1
companies = ["Enron", "Worldcom", "Lehman", "Ford"]
companies

['Enron', 'Worldcom', 'Lehman', 'Ford']

In [ ]:
companies[0:-1]

['Enron', 'Worldcom', 'Lehman']

In [ ]:
s = 'Worldcom'
"w" + s[1:]

'worldcom'

In [ ]:
# python has zero-based index
# companies[0]

# sorting
sorted(companies)

# last company in the list
sorted(companies)[-1]

# slicing - and referceing - pandas
companies[0:2]

companies2 = ["Obuv' Rossii"] # Russian shoes
len(companies + companies2)

5

In [ ]:
companies[0:2]

['Enron', 'Worldcom']

In [ ]:
companies + ["Obuv' Rossii"]

['Enron', 'Worldcom', 'Lehman', 'Ford', "Obuv' Rossii"]

In [ ]:
quotes = [1.1892, 1.1969, 1.1933, 1.192, 1.1926]
quotes

[1.1892, 1.1969, 1.1933, 1.192, 1.1926]

In [ ]:
xs = [3, 2, 1]
[4] + xs + [0]

[4, 3, 2, 1, 0]

In [ ]:
xs = xs + [0]
xs.append(0) # method that changes a variable INPLACE
xs

[3, 2, 1, 0, 0]

In [ ]:
# xs = xs + [4]

In [ ]:
xs[0] = -1 # mutable = we can change it
xs

[-1, 2, 1]

Operations:

- element by index
- slice
- concatenate
- adding elements
- iteration with `for`
- list comprehension

In [ ]:
xs = [5, 10, -5, 4, 6, 12, 3, -2]
print(len(xs))
print(sum(xs))
print(sorted(xs))

8
33
[-5, -2, 3, 4, 5, 6, 10, 12]

In [ ]:
sum(xs) / len(xs)

4.125

In [ ]:
# writing a function

def average(values):
  # ...
  return sum(values) / len(values)
average(xs)

4.125

In [ ]:
companies = ["Enron", "Worldcom", "Lehman", "Ford"]
for company in companies:
  print(company, "is bankrupt")
# 1
# 2
# 4 ***
# 8

Enron is bankrupt
Worldcom is bankrupt
Lehman is bankrupt
Ford is bankrupt

In [ ]:
# how to fill up a list:
ys = []
ys.append(8) # inline change
ys = ys + [8]

In [ ]:
xs = [5, 10, -5, 4, 6, 12, 3, -2]
ys = []
for x in xs:
  z = 2*x + 1
  ys.append(z)
  # ys = ys + [z]
print(xs)
print(ys)

[5, 10, -5, 4, 6, 12, 3, -2]
[11, 21, -9, 9, 13, 25, 7, -3]

In [ ]:
# will not work in pure python (but we will make it with numpy later)
from numpy import array
ys = 2*array(xs) + 1
ys
#2*xs + 1

array([11, 21, -9,  9, 13, 25,  7, -3])

### List comprehensions

Special feature in Python - allows to modify lists in a concise way - without writing loops explicitly.

In [ ]:
xs = [1, 2, 3]
ys = [(2*x + 1) for x in xs]
ys

[3, 5, 7]

In [ ]:
# accumulate everything above or equal to 6
print(xs)

# as list coprehension:
a = [x for x in xs if (x >= 6)]
print(a)

# as loop:
b = []
for x in xs:
  if x >= 6:
    b.append(x)
print(b)

[5, 10, -5, 4, 6, 12, 3, -2]
[10, 6, 12]
[10, 6, 12]

In [ ]:
len(xs)

8

In [ ]:
# slicing https://stackoverflow.com/questions/509211/understanding-slice-notation
# xs[start:stop]  # items start through stop-1
# xs[start:]      # items start through the rest of the array
# xs[:stop]       # items from the beginning through stop-1
# xs[:]           # a copy of the whole array


# remember index is zero-based - makes a lot of confusion initially!
xs = ["Apple", "Yandex", "IBM", "Mc_Donald's", "Nornikel", "Tesla", "Enron"]
xs[0], xs[0:3], xs[3:], xs[-1]

('Apple',
 ['Apple', 'Yandex', 'IBM'],
 ["Mc_Donald's", 'Nornikel', 'Tesla', 'Enron'],
 'Enron')

In [ ]:
# We can assign new value to list element
xs[3] = 'McDonalds'
xs

['Apple', 'Yandex', 'IBM', 'McDonalds', 'Nornikel', 'Tesla', 'Enron']

In [ ]:
xs = [5, 10, 3, 6, 12, 3]
xs[0:2]

[5, 10]

In [ ]:
import numpy as np
# Practice (no grading):

# make some list
xs = [5, 10, 3, 6, 12, 3]

# Try:
xs[0]
xs[3]
# xs[200]
xs[-1]
xs[3] = xs[3] + 1
xs[0:2]
len(xs)
sum(xs)
# mean of numbers?
xs + [7, 4]
xs.append(7) #inline change!
set(xs)
for x in xs: print(x)
[x for x in xs]
# xs + 1
[x for x in xs]
[min(0, x) for x in xs]
[x for x in xs if x >= 6]
for (i, x) in enumerate(xs): print(i, x)
(xs) * 2

5
10
3
7
12
3
7
0 5
1 10
2 3
3 7
4 12
5 3
6 7

[5, 10, 3, 7, 12, 3, 7, 5, 10, 3, 7, 12, 3, 7]

In [ ]:
xs = [5, 10, 3, 6, 12, 3]
[x for x in xs if x >= 6]

[10, 6, 12]

## Tuples

Consider tuple to be a small list:

- same item references as lists
- but immutable -  cannot change after creation
- it's OK to contain values of different types

In [ ]:
# what objects are best described by tuples?
# example A
(1799, 1837)

(1799, 1837)

In [ ]:
# what is the object?
# example B
(2, "б")

(2, 'б')

In [ ]:
[(1, "a"), (1, "б"), (2, "a")]

[(1, 'a'), (1, 'б'), (2, 'a')]

In [ ]:
ys  = [1, 2, 3]
ys[0] = -4
ys

[-4, 2, 3]

In [ ]:
# list is mutable
xs = ["a", "b", "r", "z"]
xs[2] = "_"
xs

['a', 'b', '_', 'z']

In [ ]:
# tuple is immutable
ys = ("a", "b", "r", "z")
ys[2] = "_"

TypeError: ignored

What makes a good tuple (homework)?

What objects need several values to describe them?

Hints:
- when you are in school
- when you buy something
- journeys
- biographies
- getting around
- anything in finance?

How would a tuple get modified? What functions are needed to work with these tuples?

In [ ]:
t = (1799, 1837)
t[1]

1837

In [ ]:
 t[1] = 1853
# TypeError                                 Traceback (most recent call last)
#
# TypeError: 'tuple' object does not support item assignment

TypeError: ignored

In [ ]:
# glossary: unpacking
grade, letter = (6, "b")
grade
letter

'b'

In [ ]:
# school class
def move_next(k):
  grade, letter = k
  return (grade + 1), letter

# better:      **____
# note better:

klass = (6, "b")
next_klass = move_next(klass)
assert next_klass == (7, 'b')

move_next(k=(11, "a"))

(12, 'a')

In [ ]:
seat = (21, "d")
flight = ("MOW", "AMS")

today    = (15, 2, 2023)
some_day = (1, 3, 2023)
some_day > today

False

In [ ]:
some_day > today

False

In [ ]:
# https://www.bloomberg.com/quote/EURUSD:CUR
eur = ("EURUSD", 1.0792)

# https://finance.yahoo.com/quote/MSFT?p=MSFT&.tsrc=fin-srch
msft = ("MSFT", 328.66)

# https://www.moex.com/en/index/IMOEX
rtsi = ("RTSI", 3265.48)

In [ ]:
# list of tuples
z = [("EURUSD", 1.1904), ("MSFT", 237.71)]
z[0][0]

'EURUSD'

In [ ]:
x = z[1][1]
x == 237.71

True

In [ ]:
# unpacking
a = 5
b = 2
a, b = (5, 2)

In [ ]:
r = ("RTSI", 1537.99)
ticker, quote = r
print(ticker)
print(quote)

RTSI
1537.99

## Dictionary

A data structure that holds key-value pairs.

In [ ]:
# "MSFT" -> 237.71
# "RTSI" -> 1537.99
# What is the value associated with a key?

In [ ]:
d = {"EURUSD": 1.1904,
     "MSFT": 295.00,
     "RTSI": 1537.99}
d

{'EURUSD': 1.1904, 'MSFT': 295.0, 'RTSI': 1537.99}

In [ ]:
d2 = dict([("EURUSD", 1.1904), ("MSFT", 295.00), ("RTSI", 1537.99)])
d2

{'EURUSD': 1.1904, 'MSFT': 295.0, 'RTSI': 1537.99}

In [ ]:
d["EURUSD"]

1.1904

Dictionaries cannot have two items with the same key. Duplicate values will overwrite existing values

In [ ]:
d3 = dict([("EURUSD", 1.1904), ("MSFT", 295.00), ("RTSI", 1537.99), ("RTSI", 2137.00)])
d3

{'EURUSD': 1.1904, 'MSFT': 295.0, 'RTSI': 2137.0}

In [ ]:
stock_quotes = dict()
stock_quotes["MSFT"] = 237.71
stock_quotes["MSFT"]

237.71

In [ ]:
person = ("Ivan", "Ivanov")
person = ("Ivanov", "Ivan")
person_dict = {"last": "Ivanov", "first": "Ivan"}

name = person_dict["first"] + " "  + person_dict["last"]
print(name)

Ivan Ivanov

In [ ]:
book = {"title": "Investment Science",
        "author": {"family": "Luenberger",
                   "given": "David"},
        "year": 1998,
        "publisher": "OUP"
        }

In [ ]:
book.keys()

dict_keys(['title', 'author', 'year', 'publisher'])

In [ ]:
book["year"]

1998

In [ ]:
("Investment Science", ("Luenberger", "David"), 1998, "OUP")[2]

1998

In [ ]:
("MSFT", 237.71)[1]

237.71

In [ ]:
d = {"MSFT": 237.71, "RTSI": 1537.99}
d["MSFT"]

237.71

In [ ]:
quote_list = [("MSFT", 237.71), ("TSLA", 676.88)]
quote_dict = dict(quote_list)
quote_dict

{'MSFT': 237.71, 'TSLA': 676.88}

In [ ]:
quote_dict["MSFT"]

237.71

In [ ]:
another_dict = {'MSFT': 237.71, 'TSLA': 676.88}

In [ ]:
yet_another_dict = dict(MSFT=237.71, TSLA=676.88)

In [ ]:
quote_dict == another_dict == yet_another_dict

True

In [ ]:
quote_dict = dict()
quote_dict["MSFT"] = 237.71
quote_dict["TSLA"] = 676.88
quote_dict["BTC"] = 55595.30
quote_dict

{'MSFT': 237.71, 'TSLA': 676.88, 'BTC': 55595.3}

In [ ]:
for (key, value) in quote_dict.items():
  print(key, value)

MSFT 237.71
TSLA 676.88
BTC 55595.3

In [ ]:
# Try:
quote_dict.keys()
quote_dict.values()
quote_dict.items()

In [ ]:
x = dict(a=1, b=2)
del x['a']
x

{'b': 2}

## Set

What is set useful for?

In [ ]:
items = [3, 2, 2, 5, 5, 5, 5]
set(items)

{2, 3, 5}

In [ ]:
names = ["Misha", "Dasha", "Dasha"]
c = set(names)
c

{'Dasha', 'Misha'}

In [ ]:
# how to tell if names are unique?
#len(b) == len(set(b))

def is_unique(xs) -> bool:
  return len(xs) == len(set(xs))

print(is_unique(items))
print(is_unique(names))
print(is_unique(["a", "b"]))

False
False
True

In [ ]:
set([1,2,2,4,5,5,5,5]) - set([4,5,6])

{1, 2}

In [ ]:
set([1,2,2,4,5,5,5,5])

{1, 2, 4, 5}

In [ ]:
set([4,5,6]) - set([1,2,2,4,5,5,5,5])

{6}

# Control flow

## Conditional statement - if/elif/else

In [ ]:
from random import randint

price = randint(105, 145)
print("Current price is",  price)
# price = 90

threshold1 = 120
threshold2 = 100
if price >= threshold1:
  print("Must sell")
elif price>=threshold2:
  print("Undecided")
else:
  print("Hold")

Current price is 110
Undecided

In [ ]:
a = 5
flag = False
if (a > 0) and flag:
  print("Positive!")
else:
  print("Negative")

Negative

## Loop - for / range / enumerate

In [ ]:
for x in [10, 8, 5, 12]:
  # loop body
  print(x)

10
8
5
12

In [ ]:
companies = ["Enron", "Worldcom", "Lehman", "Ford"]
for (i, company) in enumerate(companies):
  print(i, company)

0 Enron
1 Worldcom
2 Lehman
3 Ford

In [ ]:
for i in enumerate(companies):
  print(i)

(0, 'Enron')
(1, 'Worldcom')
(2, 'Lehman')
(3, 'Ford')

In [ ]:
list(range(3))

[0, 1, 2]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
eur = ("EURUSD", 1.1904)
msft = ("MSFT", 295.00)
rtsi = ("RTSI", 1537.99)
quotes = [eur, msft, rtsi]
quotes

[('EURUSD', 1.1904), ('MSFT', 295.0), ('RTSI', 1537.99)]

In [ ]:
for q in quotes:
  print("Ticker is", q[0])
  print("Value is", q[1])

Ticker is EURUSD
Value is 1.1904
Ticker is MSFT
Value is 295.0
Ticker is RTSI
Value is 1537.99

In [ ]:
# let us recreate a string
source = "abcd"
res = ""
for i, letter in enumerate(source):
  print(i, letter)
  res = res + letter
print(res)

# Q: given we know i - what modifucations can we do to a string?

0 a
1 b
2 c
3 d
abcd

## Loop - while

In [ ]:
a = 0
while a < 4:
  print(a)
  a += 1

0
1
2
3

In [ ]:
# unpacking
t = (0, 1)
a, b = t
a = t[0]
b = t[1]

In [ ]:
# Fibonacci sequence, another implementation
# https://docs.python.org/3/tutorial/introduction.html#first-steps-towards-programming

a, b = 0, 1        # unpacking a tuple
while a < 10:
  print(a)
  a, b = b, a+b    # unpacking another tuple

0
1
1
2
3
5
8


- `while` can create infinite loops - for example server waiting for request
- real code example with `while`: [cpython](https://github.com/python/cpython/blob/f4c03484da59049eb62a9bf7777b963e2267d187/Lib/distutils/command/register.py#L137-L156)

# Functions

- code with a specific responsibility - does one thing
- has an input (arguments) or works without input (no arguments)
- usually provides output (via `return`)

In [ ]:
# no arguments
def my_birthday():
  return "2022-09-01"

my_birthday()

'2022-09-01'

In [ ]:
def inc(x):
  return x + 1

In [ ]:
inc(5)

6

In [ ]:
def order(a, b):
  if a <= b:
    return (a, b)
  else:
    return (b, a)
order(50, 6)

(6, 50)

In [ ]:
def double(x):
  return x * 2

double(4)

8

In [ ]:
double(x="4")

'44'

Some functions are attached to objects as 'methods'.

In [ ]:
def startswith(string, expected_letter):
  first_letter = string[0]
  return first_letter == expected_letter

In [ ]:
startswith("abc", "a")

True

In [ ]:
"abc".startswith("a")

True

In [ ]:
"9".isdecimal()

True

In [ ]:
"Sheremetyevo".lower()

'sheremetyevo'

In [ ]:
dir("abc")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# Sometimes you want to write stub for a function
# before you complete your code

def new_function(x, y):
  """Here is what this function does"""
  pass
  #return 0
  #raise NotImplementedError

In [ ]:
help(new_function)

Help on function new_function in module __main__:

new_function(x, y)
    Here is what this function does

More:

- keyword arguments
- docstings
- naming
- refactoring
- pseudocode
- lambda (nameless) functions

### Think of creating your own function (homework)

A function encapsulates some code to be reused. This assignment is to write a small function that is useful for some operations or calculations.

Checklist:

- idea of calculation
- function name
- list of arguments and their type    
- what does it return?
- how to check (with assert)
- simple, easy to implement
- extra: What is a good doctring for this  function? What would a user need to know?

If you are stuck:

- modify some functions that inside this notebook
- replicate some standard library funcitons
- this of workflow or a business process
- function that does something random
- ... or does nothign

If you are stuck with notation - write your answer in plain text.

You do not have to write code for the function now, but good if you tried something and pointed what do you lack to get to next step.

In [ ]:
# think of other funcitions:

def absolute_value(x):
  """This is equivalent of abs().""" # will show in help
  if x >= 0:
    return x
  else:
    return -x

# Built-in Python functions and keywords

## Keywords

In [ ]:
import keyword

for kw in keyword.kwlist:
  print(kw)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [ ]:
# Will use:
['False', 'True',   # boolean or logical values
 'None',            # 'nothing', special value
 'def',  'return'   # parts of function definition
 'for',             # loops / cycles / iteration
 'if', 'elif', 'else',   # choice, logic opertor
 'and', 'or', 'not',     # logical opertions
 'in',                   # membership
 'import', 'from',  'as' # import/connect to a module
]

# Maybe use:
'class', # create a new class
'with',  # context manager
'is', # equivalence to object
'raise', # exceptions
'assert', # raise exception if wrong
'pass' # do nothing
'del', # delete something

# Not likely to use:

'while', 'break', 'continue', # more loops
'try', 'except', 'finally', # exception handling
'lambda', # nameless function
'async', 'await',  # async code
'yield' # generator
'global', 'nonlocal', # quite rare

('global', 'nonlocal')

## Built-in functions

Built-in fucntions: https://docs.python.org/3/library/functions.html


![изображение.png]()

In [ ]:
str(2.5)

'2.5'

In [ ]:
# Some grouping
# type constructors
int()
list()
bool()
float()
set()
dict()
str()
tuple()

# string
chr()
ord()

# numbers
abs()
round()
pow()

# works on iterable (e.g. list)
all()
any()
len()
max()
min()
reversed()
sorted()
sum()

# create sequences()
enumerate()
range()
zip()

# functional programming
map()
filter()

# learn about something
dir()
id()
help()
repr()

# checking types
isinstance()
type()

# communicate to outer world
input()
open()
print()
breakpoint()

TypeError: ignored

In [ ]:
chr(ord("a"))

'a'

https://docs.python.org/3/library/functions.html

- Group 1. Familiar and intuitive, ok to use
- Group 2. Maybe will use them
- Group 3. Opaque or rare

## What if we see...

- `()` - (round) parentheses
- `[]` - (square) brackets
- `{}` - curly braces

Then it is:

- a list `xs[5]`
- dictionary `person["name"]`
- function call `g()`
- delimiter expression `(1+1)*2`
- set `{1, 2}`

# Practice tasks

## Student list

Imagine we wanted a unique identifers for students in out class.

We want to take attendace by date.

We also want to give students great grades by the end of the class.

We need unique identifiers - should they be

The records must be handled in English.

In [ ]:
text = """Андреева Анна Владимировна
Ахунова Анастасия Владиславовна
Байбурова Лана Камиловна
Басенко Николай Алексеевич
Володько Никита Дмитриевич
Волоховский Глеб Всеволодович
Грицук Олег Александрович
Жаронкина Дарья Владимировна
Жданова Мария Игоревна
Жиляева Кристина Сергеевна
Зайцева Арина Владиславовна
Ильчук Алиса Игоревна
Каневская Полина Александровна
Карабаев Егор Евгеньевич
Кацанова Дзерасса Анатольевна
Клименко Максим Сергеевич
Ливинцева Вероника Николаевна
Литинская Наталия Александровна
Локостов Артем Денисович
Масюк Наталия Романовна
Мошкина Полина Андреевна
Нгуен Тхюи Зыонг -
Орлов Демид Денисович
Поломошнова Мария Артемовна
Семенова Алина Павловна
Сидельников Платон Павлович
Симонова Екатерина Андреевна
Степанова Екатерина Владимировна
Тимофеев Александр Валерьевич
Тимофеева Мария Сергеевна
Фадеева Вероника Денисовна
Фам Тху Чанг -
Федорова Ольга Алексеевна
Хожай Евгения Алексеевна
Шальнов Михаил Николаевич
Щербина Андрей Романович
"""

In [ ]:
# transliteration is mapping of one set letters to another
RU_TO_LATIN_DICT = {
    "а": "a",
    "б": "b",
    "в": "v",
    "г": "g",
    "д": "d",
    "е": "e",
    "ё": "yo",
    "ж": "j",
    "з": "z",
    "и": "i",
    "й": "j",
    "к": "k",
    "л": "l",
    "м": "m",
    "н": "n",
    "о": "o",
    "п": "p",
    "р": "r",
    "с": "s",
    "т": "t",
    "у": "u",
    "ф": "f",
    "х": "h", # do differently?
    "ц": "ts",
    "ч": "ch",
    "ш": "sh",
    "щ": "sz",
    "ъ": "''",
    "ы": "y",
    "ь": "'",  # do differently?
    "э": "e",
    "ю": "ju",
    "я": "ya",
}

def is_upper(letter):
  return letter.upper() == letter


def to_latin_one(ru_letter):
  """Convert one letter to latin"""
  key = ru_letter.lower()
  try:
    new_letter = RU_TO_LATIN_DICT[key]
  except KeyError:
    new_letter = key
  if is_upper(ru_letter):
    new_letter = new_letter.capitalize()
  return new_letter


def to_latin(text):
  """Convert text to latin"""
  res = ""
  for t in text:
    res += to_latin_one(t)
  return res

In [ ]:
to_latin("Салихов Марсель")

"Salihov Marsel'"

In [ ]:
# names_list is a list of 2 or 3 element lists
names_list = [x.split(" ") for x in to_latin(text).split("\n")]
names_list

[['Andreeva', 'Anna', 'Vladimirovna'],
 ['Ahunova', 'Anastasiya', 'Vladislavovna'],
 ['Bajburova', 'Lana', 'Kamilovna'],
 ['Basenko', 'Nikolaj', 'Alekseevich'],
 ["Volod'ko", 'Nikita', 'Dmitrievich'],
 ['Volohovskij', 'Gleb', 'Vsevolodovich'],
 ['Gritsuk', 'Oleg', 'Aleksandrovich'],
 ['Jaronkina', "Dar'ya", 'Vladimirovna'],
 ['Jdanova', 'Mariya', 'Igorevna'],
 ['Jilyaeva', 'Kristina', 'Sergeevna'],
 ['Zajtseva', 'Arina', 'Vladislavovna'],
 ["Il'chuk", 'Alisa', 'Igorevna'],
 ['Kanevskaya', 'Polina', 'Aleksandrovna'],
 ['Karabaev', 'Egor', "Evgen'evich"],
 ['Katsanova', 'Dzerassa', "Anatol'evna"],
 ['Klimenko', 'Maksim', 'Sergeevich'],
 ['Livintseva', 'Veronika', 'Nikolaevna'],
 ['Litinskaya', 'Nataliya', 'Aleksandrovna'],
 ['Lokostov', 'Artem', 'Denisovich'],
 ['Masjuk', 'Nataliya', 'Romanovna'],
 ['Moshkina', 'Polina', 'Andreevna'],
 ['Nguen', 'Thjui', 'Zyong', '-'],
 ['Orlov', 'Demid', 'Denisovich'],
 ['Polomoshnova', 'Mariya', 'Artemovna'],
 ['Semenova', 'Alina', 'Pavlovna'],
 ["Sidel'nikov", 'Platon', 'Pavlovich'],
 ['Simonova', 'Ekaterina', 'Andreevna'],
 ['Stepanova', 'Ekaterina', 'Vladimirovna'],
 ['Timofeev', 'Aleksandr', "Valer'evich"],
 ['Timofeeva', 'Mariya', 'Sergeevna'],
 ['Fadeeva', 'Veronika', 'Denisovna'],
 ['Fam', 'Thu', 'Chang', '-'],
 ['Fedorova', "Ol'ga", 'Alekseevna'],
 ['Hojaj', 'Evgeniya', 'Alekseevna'],
 ["Shal'nov", 'Mihail', 'Nikolaevich'],
 ['Szerbina', 'Andrej', 'Romanovich'],
 ['']]

In [ ]:
names_list[0]

['Andreeva', 'Anna', 'Vladimirovna']

In [ ]:
[name[1] for name in names_list]

IndexError: ignored

In [ ]:
# are last names unique?
is_unique([name[0] for name in names_list])

True

In [ ]:
# are first names unique?
is_unique([name[0] for name in names_list])

True

In [ ]:
# which first names are repeated?
first_names = [name[0] for name in names_list]

In [ ]:
counter = {name: 0 for name in first_names}
for name in first_names:
  counter[name] += 1
{k:v for k,v in counter.items() if v > 1}

{'Veronika': 2,
 'Mariya': 2,
 'Kseniya': 2,
 'Artyom': 4,
 'Gleb': 2,
 'Anna': 2,
 "Il'ya": 2,
 'Elizaveta': 2}

In [ ]:
def initials_2(name_tuple):
  return name_tuple[1][0] + name_tuple[0][0]

def initials_3(name_tuple):
  return name_tuple[1][0] + name_tuple[0][0:2]

print(initials_2(['Пушкин', 'Александр', 'Сергеевич']))

АП

In [ ]:
is_unique([initials_2(name) for name in names])

False

In [ ]:
is_unique([initials_3(name) for name in names])

False

In [ ]:
# But how should we reference people?
# Probably by last name
family_names = [name[0] for name in names_list]

family_names

['Andreeva',
 'Ahunova',
 'Bajburova',
 'Basenko',
 "Volod'ko",
 'Volohovskij',
 'Gritsuk',
 'Jaronkina',
 'Jdanova',
 'Jilyaeva',
 'Zajtseva',
 "Il'chuk",
 'Kanevskaya',
 'Karabaev',
 'Katsanova',
 'Klimenko',
 'Livintseva',
 'Litinskaya',
 'Lokostov',
 'Masjuk',
 'Moshkina',
 'Nguen',
 'Orlov',
 'Polomoshnova',
 'Semenova',
 "Sidel'nikov",
 'Simonova',
 'Stepanova',
 'Timofeev',
 'Timofeeva',
 'Fadeeva',
 'Fam',
 'Fedorova',
 'Hojaj',
 "Shal'nov",
 'Szerbina',
 '']

In [ ]:
attended = {
  "2023-09-07": ['Lokostov', 'Polomoshnova', 'Kanevskaya', 'Ahunova']
}

In [ ]:
# great grades
{name: 100 for name in attended["2023-09-07"]}

{'Lokostov': 100, 'Polomoshnova': 100, 'Kanevskaya': 100, 'Ahunova': 100}

## Toy blockchain

https://colab.research.google.com/drive/1OLb19MIYDzJLsMQux7nL4v16aLO-bU71

## My stock portfolio

An investor has initial amount of  `start_cash` USD. She can buy and sell various assets. A snapshop of market prices is given.

Provide a prototype for a system that will:

- track composition of a portfolio
- value of portfolio at market prices
- make changes in portfolio

## NPV of cashflows

Using pure python calculate net present value of annual cashflows given a discount factor.

In [ ]:
r = 0.12
cashflows = [-100, 40, 40, 0, 40]

#if npv(r, cashflows) > 0:
#  print("I take it!")

sum(cashflows)

20

In [ ]:
res = []
res = res + [1]
res.append(2)
res.append(10)
res

[1, 2, 10]

In [ ]:
# Let's try first calculation:

t = 0
discounted = []
for cf in cashflows:
  print("cf =", cf, "t =",  t)
  discount_factor = 1 / (1 + r) ** t
  x = cf * discount_factor
  discounted.append(x)
  t = t + 1
npv = round(sum(discounted), 4)
print("Pure sum is", sum(cashflows))
print(f"NPV at {r*100}% is", npv)

cf = -100 t = 0
cf = 40 t = 1
cf = 40 t = 2
cf = 0 t = 3
cf = 40 t = 4
Pure sum is 20
NPV at 12.0% is -6.9772

In [ ]:
discounted

[-100.0, 35.71428571428571, 31.887755102040813, 0.0, 25.420723136193246]

In [ ]:
def discount_factor(r, t):
  return 1 / (1 + r) ** t

#assert discount_factor(0.25, 2) ==  1 / (1.25 ** 2) == 0.2

AssertionError: ignored

In [ ]:
# use enumerate and discount_factor
res = []
for (t, cf) in enumerate(cashflows):
  print(t, cf)
  x = cf * discount_factor(r, t)
  res.append(x)

assert round(sum(res), 4) == -6.9772

0 -100
1 40
2 40
3 0
4 40

In [ ]:
# use list comp
res = [cf * discount_factor(r, t) for (t, cf) in enumerate(cashflows)]
assert round(sum(res), 4) == -6.9772
res

[-100.0, 35.71428571428571, 31.887755102040813, 0.0, 25.420723136193246]

In [ ]:
def npv(r, cashflows):
  return sum([cf * pow(1+r, -t) for (t, cf) in enumerate(cashflows)])

assert round(npv(r, cashflows), 4) == -6.9772

In [ ]:
# another version? cleaner

def present_values(r, cashflows):
  xs = []
  for i, cf in enumerate(cashflows):
    xs.append(cf * pow(1+r, -i))
  return xs

def npv_(r, cashflows):
  return sum(present_values(r, cashflows))

present_values(r, cashflows)

[-100.0, 35.71428571428571, 31.88775510204081, 0.0, 25.420723136193246]

How to calculate IRR? We need to find a solution for equation `NPV(r=IRR, cashflows=cashflows) = 0`

In [ ]:
npv(r=.12, cashflows=[-100, 40, 40, 0, 40])

-6.977236047480233

In [ ]:
from scipy.optimize import newton
newton?

In [ ]:
def f(x):
  return x + 2

# "functions are first class"
newton(f, x0=1)

-2.0

In [ ]:
f(-2)

0

In [ ]:
from scipy.optimize import newton

cashflows = [-100, 40, 40, 0, 40]
def by_rate(r):
  return npv(r, cashflows) #closure

irr1 = newton(by_rate, x0=0.1)
irr1

0.08356315112852986

In [ ]:
npv(irr1, cashflows)
# why not exactly zero?

6.81268375046784e-11

In [ ]:
def irr0(cashflows):
  def by_rate(r):
    return npv(r, cashflows) # "closure" on cashflows
  return newton(by_rate, x0=0.1)

irr0(cashflows)

0.08356315112852986

In [ ]:
def irr(cashflows):
  return newton(npv, x0=0.1, args=(cashflows,))

In [ ]:
cashflows = [-100, 40, 40, 0, 40]
irr(cashflows)

0.08356315112852986

What if we had fractions of year for our APR calculation?


- Up-front fee: \$20  
- Interest (total): \$20  
- Amount: \$ 200  
- Term: 2 weeks  

What is APR? Need to solve for `r`:

```NPV(repayments, r) = NPV(drawdown, r)```

20 + 220*(1+r)^(14/365) = 200

In [ ]:
def present_value2(days_and_cashflows, r):
  for days, cf in days_and_cashflows:
    yield cf * pow(1+r, -days/365)

def npv2(r, days_and_cashflows):
  return sum(present_value2(days_and_cashflows, r))

def irr2(days_and_cashflows):
  return newton(npv2, x0=0.1, args=(days_and_cashflows,))

In [ ]:
r = .10
days_and_cashflows = [(0, -20), (0, 200), (14, -220)]
round(irr2(days_and_cashflows)*100,1)

18612.4

In [ ]:
npv2(186.124, days_and_cashflows)

-1.411312069876658e-06

## Accounting system

Try define some data structures and fucntions that can mimic a simple double entry accounting system.

In [ ]:
assets = dict()
equity = dict()
liab = dict()

# Classes

Classes allow binding together some data and behavior - functions, or methods that work on that data. Classes are templates for new objects, called 'instances' of a class.

In some programming languages you cannot even write a program without classes (Java) or use them almost exclusively (C++). But some languages do not have classes at all (Julia, Haskell). Some favor using classes (Ruby). In Python you can do a lot of work before using them explicitly.

Under the hood in Python everything is an object of some class, just by design.

Note: writing your code with classes provides not guarantees it will be superior to code without classes. Code with classes sometimes can create more problems than it solves (more boilerplate, tight bundling, bad interfaces, etc.).

Class and instances are part of object-oriented programming (OOP) approach.
Arguably, in the past programmers were more excited about OOP than they seem so now.

In everyday Python we need classes for new useful data structures like `pandas.DataFrame` and understanding why methods like ```"abc".upper()``` work.


Glossary:

- class
- instance, object
- constructor
- attribute, property
- method
- object oriented programming (OOP)
- encapsulation, inhertance, polimorphism

To discuss:
- composition vs inheritance


Reading and watching:

- https://python-programming.quantecon.org/oop_intro.html
- https://peppel-g.github.io/course-material/lectures/python-object-oriented-programming/#lecture-material
- https://www.youtube.com/watch?v=8yjkWGRlUmY

## "I have got a Point"

In [ ]:
class Point:
  pass

In [ ]:
p = Point()

In [ ]:
type(p)

__main__.Point

In [ ]:
isinstance(p, Point)

False

In [ ]:
# class is a template for some object

In [ ]:
class Point:
  # This is class constructor - the code that runs when class instance is created.
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def __repr__(self):
    # Can be any string, but makes sense to have a constructor
    # expression like Point(3,2)
    return "Point(" + str(self.x) + ", " + str(self.y) + ")"

  def from_center(self):
    """Return distance from (0, 0) to point *p*."""
    return (self.x ** 2 + self.y ** 2) ** .5

# what functions or methods do we need to work on Point?
p = Point(2, 3)
p.from_center()

3.605551275463989

In [ ]:
Point(2, 3)

Point(2, 3)

In [ ]:
# minimal definition of a class
class Point:
  pass

# p1 and p2 hold instances of class Point
p1 = Point()
p1.x = 2
p1.y = 1

p2 = Point()
p2.x = 5
p2.y = 3

# not very nicely looking until we specify how to show a class
# in a readable way
p1, p2

(<__main__.Point at 0x7f091321dd50>, <__main__.Point at 0x7f091321d950>)

In [ ]:
(p1.x, p2.y)

(2, 3)

In [ ]:
# what does this expression mean?
(p1.x ** 2 + p1.y ** 2) ** .5

In [ ]:
def from_center(p):
   """Return distance from (0, 0) to point *p*."""
   return (p.x ** 2 + p.y ** 2) ** .5

from_center(p1)

2.23606797749979

In [ ]:
import math

class Point:

  # This is class constructor - the code that runs when class instance is created.
  def __init__(self, x, y):
    self.x = x
    self.y = y

  # We created a method - a function that works on class instance itself.
  # This method is similar to function from_center() defined above
  def from_center(self):
    return (self.x ** 2 + self.y ** 2) ** .5

  # Let's make method that can move a point
  # provided a direction in degrees and a distance.
  # Zero degrees point east, 90 degrees point north.
  def move(self, degrees, distance):
    rad = math.radians(degrees)
    dx = distance * math.cos(rad)
    self.x = self.x + dx
    # shorter notation for y coordinate
    self.y +=  distance * math.sin(rad)
    # returning self allows chaining, see below
    return self

  def right(self, distance):
    self.x += distance
    return self

  def left(self, distance):
    return self.right(-distance)

  def up(self):
    # Excercise: make up() method
    pass

  def down(self):
    # Excercise: make down() method
    pass

  # We need this hidden method to make == work.
  def __eq__(self, p):
    return (self.x == p.x) and (self.y == p.y)

  # Without __repr__
  def __repr__(self):
    # Can be any string, but makes sense to have a constructor
    # expression like Point(3,2)
    return "I am Point(" + str(self.x) + "," + str(self.y) + ")"

In [ ]:
Point(2, 1)

I am Point(2,1)

In [ ]:
Point(2, 1).from_center()

2.23606797749979

In [ ]:
Point(0,0).left(6).right(5).from_center()

1.0

In [ ]:
Point(3,3) == Point(3,3)

True

In [ ]:
assert Point(3, 0).left(3) == Point(0, 0)

In [ ]:
# Excercise: make a Circle class with Point as center and a radius
# Add .area() method
# Let's make area a property

## Pets and animals

In [ ]:
class Pet:
  def __init__(self, name):   # constructor
    self.name = name          # attribute, property

  def rename(self, new_name): # method for inline change
    self.name = new_name
    # return self             # what does returning self help to achieve?

  def cheer(self):            # method that returns a string
    return self.name + ", you are so good!"

In [ ]:
p = Pet("Tobias")
print(p.name)

p.rename("Tobi")
print(p.name)
p.cheer()

Tobias
Tobi

'Tobi, you are so good!'

In [ ]:
class Dog(Pet):
   def __init__(self, name, year_born):  # constructor
      self.name = name                   # attribute, property
      self.year_born = year_born         # attribute, property

In [ ]:
Dog(name="Keika", year_born=2020).cheer()

'Keika, you are so good!'

In [ ]:
Dog("Keika", 2020).rename("Kei").cheer()
# How can I fix this?

AttributeError: ignored

In [ ]:
# dataclasses help a lot by reducing amount of code we need to write for a class
# - no __init___
# __repr__

from dataclasses import dataclass

@dataclass
class Animal:
  name: str
  born: int

a = Animal("Baloo", 1894)
a

Animal(name='Baloo', born=1894)

## Company as a class

In [ ]:
# How do I define a company?
# What methods/functions can work on a company instance

@dataclass
class Company:
  title: str
  address: str
  inn: int

  def relocate(self, new_address):
    self.address = new_address
    return self

In [ ]:
k = Company("My Big Co", address="Tveskaya 1",  inn=35476)
k.relocate("Mayakovskaya 30")
k

Company(title='My Big Co', address='Mayakovskaya 30', inn=35476)

In [ ]:
# very useful for serialisation
k.__dict__

{'address': 'Mayakovskaya 30', 'inn': 35476, 'title': 'My Big Co'}

In [ ]:
dir(Company)

['__annotations__',
 '__class__',
 '__dataclass_fields__',
 '__dataclass_params__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'relocate']

## dir() to find out about methods

In [ ]:
dir(Pet)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'cheer',
 'rename']

In [ ]:
"abc".upper()

'ABC'

In [ ]:
xs = []
xs.append("a")
xs

['a']

In [ ]:
dir("abc")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
"   ABC ABC     ".strip()

'ABC ABC'

## Everything in Python is an instance of some class

... even though we do not have to bother too much about it.

In [ ]:
import pandas

pandas.DataFrame?

# Exceptions

In [ ]:
#Error? Exceptions

#a[ # SyntaxError:
#'abc"
# 1/0 DivisionbyZero
# "abc"[0] = "A" TypeError

#raise NotImplementedError("The program was forced to stop...")

def div(a, b):
  if isinstance(a, float) and isinstance(a, float) and b !=0:
    return a / b
  else:
    raise ValueError("args not valid")
div(5.0, 0)

# Script, modules, packages

Module and package are more technical terms for Python:

- module is just a file with python code
- package is "transportable" group of modules that an be downlaoded and installed on your system

Script refers to some code that is not structured to functions or classes and simply runs line by line. Scripts are fine to automate some tasks on your computer.
Popular book: https://automatetheboringstuff.com/2e/

- built-in `len()`
- standard library math  - no installation
- import from a file we wrote (`fact.py`)
- import from a package - needs to be installed

In [ ]:
import math

PI = math.pi
math.sin(PI) #nearly zero

1.2246467991473532e-16

In [ ]:
!pip install cowsay

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cowsay
  Downloading cowsay-5.0.tar.gz (25 kB)
Building wheels for collected packages: cowsay
  Building wheel for cowsay (setup.py) ... done
  Created wheel for cowsay: filename=cowsay-5.0-py2.py3-none-any.whl size=25725 sha256=661f50e7d094053c506681ebcf53af7662ef7bce7f3150d40b789b8aa3be05d3
  Stored in directory: /root/.cache/pip/wheels/ec/64/04/df66e4b3e5afa8fc293c3c5fae0269a55b80f381d833010aeb
Successfully built cowsay
Installing collected packages: cowsay
Successfully installed cowsay-5.0

In [ ]:
from cowsay import cow
cow('Hello World! It`s me')

  ____________________
| Hello World! It`s me |
  ====================
                    \
                     \
                       ^__^
                       (oo)\_______
                       (__)\       )\/\
                           ||----w |
                           ||     ||

In [ ]:
from cowsay import get_output_string

dino = get_output_string('trex', "Hello, I'm a dino")
assert ("Hello, I'm a dino" in dino)

print(dino)

  _________________
| Hello, I'm a dino |
  =================
                        \
                         \
                          \
                           \
                              .-=-==--==--.
                        ..-=="  ,'o`)      `.
                      ,'         `"'         \
                     :  (                     `.__...._
                     |                  )    /         `-=-.
                     :       ,vv.-._   /    /               `---==-._
                      \/\/\/VV ^ d88`;'    /                         `.
                          ``  ^/d88P!'    /             ,              `._
                             ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                            ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                           ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                           ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                            """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                   ,-='_.-'      ``:%::)  )%:|        /:._,"
                                  (/(/"           ," ,'_,'%%%:       (_,'
                                                 (  (//(`.___;        \
                                                  \     \    `         `
                                                   `.    `.   `.        :
                                                     \. . .\    : . . . :
                                                      \. . .:    `.. . .:
                                                       `..:.:\     \:...\
                                                        ;:.:.;      ::...:
                                                        ):%::       :::::;
                                                    __,::%:(        :::::
                                                 ,;:%%%%%%%:        ;:%::
                                                   ;,--""-.`\  ,=--':%:%:\
                                                  /"       "| /-".:%%%%%%%\
                                                                  ;,-"'`)%%)
                                                                 /"      "|

# Reading and writing files

In [ ]:
# https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files

with open("dino.txt", "w") as f: #context manager
  f.write(dino)

In [ ]:
f = open("dino.txt")
content = f.read()
f.close()
print(content[:500])
assert content == dino # big victory for us!

# Q: change code above to 'with' construct

  _________________
| Hello, I'm a dino |
  =================
                        \
                         \
                          \
                           \
                              .-=-==--==--.
                        ..-=="  ,'o`)      `.
                      ,'         `"'         \
                     :  (                     `.__...._
                     |                  )    /         `-=-.
                     :       ,vv.-._   /    /               `---==-._

In [ ]:
from pathlib import Path

p = Path("dino2.txt")
p.write_text(dino)
content2 = p.read_text()
assert content2 == dino

# Q: sorten the code

# Things that can go wrong:
# - encoding (utf-8, cp1251,...)
# - end of lines ("\n", "\r\n")
# - paths (where is my file?)
# - modes - 'a'

In [ ]:
print("abc\nabc")

abc
abc

# Numeric computation

Numpy: https://numpy.org/devdocs/user/absolute_beginners.html

Scipy: https://docs.scipy.org/doc/scipy/reference/

In [ ]:
[1, 2, 3] + 1

TypeError: ignored

In [ ]:
import numpy as np

np.array([1,2,3]) + 1

array([2, 3, 4])

In [ ]:
import numpy as np

a = np.array([[1, 2, 3], [4, 5, 6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [ ]:
a[0][2]

3

In [ ]:
3 * (a + 2)

array([[ 9, 12, 15],
       [18, 21, 24]])

In [ ]:
type(a)

numpy.ndarray

In [ ]:
# https://github.com/numpy/numpy-financial/blob/master/numpy_financial/_financial.py#L863
np.npv?

In [ ]:
cashflows = [-100, 40, 40, 0, 40]
r = 0.12
d = 1 / (1+r)
N = len(cashflows)
sum(cashflows * (d ** np.arange(N))) # same result as above, great!

-6.977236047480233

In [ ]:
sum(cashflows * (d ** np.arange(N)))

-6.977236047480233

In [ ]:
np.npv(r, cf)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: In accordance with NEP 32, the function npv was removed from NumPy version 1.20.  A replacement for this function is available in the numpy_financial library: https://pypi.org/project/numpy-financial
  """Entry point for launching an IPython kernel.

RuntimeError: ignored

In [ ]:
message = """
I want this message to be stored on
"""

with open("")

SyntaxError: ignored

# Misc excercises

- Train carriage vs home number - which type suits best?

- x[1] - what data structure can be referred this way?

- Check the length of text in variable t may fit a tweet

- Write a function that retruns the smaller of its two arguments

- Write a function that produces initials - for example EP

- Calculate discount factor for rate r for d days.

In [ ]:
# int 1...16
# 7a
(7, "a")
"7a"
"5/6"

In [ ]:
# x[1] - what data structure can be referred this way?
# ...

In [ ]:
y = {1: "Moscow", 3: "9 Parkovaya"}
y[1]

'Moscow'

In [ ]:
# ...
x = "Python"
x = [10, 20, 30]
x = (7, "a")
x = {1: "value"}
x[1]

'value'

In [ ]:
# Check the length of text in variable t may fit a tweet

t = ("a" * 256) + "https://colab.research.google.com/drive/1r4HPvUduBSmFW_v6lZpbAEjoNg2Z4Vch#scrollTo=WECEt9d5dda1"
len(t) <= 256

# "border case"


if ("http" in t):
  pass # empty placeholder
elif ("@" in t):
  pass
else:
  len(t) <= 256

In [ ]:
# Write a function that returns the smaller of its two arguments

def smaller(a, b):
  if a <= b:
    return a
  else:
    return b

assert (smaller(1, 2) == 1)
assert (smaller(1, 1) == 1)

In [ ]:
# 95 -> A - unusual  - later.
def grade_to_letter(g):
   if g > 90:
     return "A"
   elif g > 80:
     return "B"

grade_to_letter(70)

# Creating your own function (homework - no grading )

A function encapsulates some code to be reused. This assignment is to write one or several small functions in Python that are useful for some operations or calculations.

Must have:

- [ ] idea of calculation explained as comment
- [ ] distinctive function name that complies with Python conventions
- [ ] any sources for code that are used are cited (other tutorials, StackOverflow, Github, etc.)

Extra:

- [ ] type annotated for arguments   
- [ ] docstring
- [ ] how to check function behaviour (with `assert`)

Expectation - ideally:

- you demonstrated usage of several data types
- you demonstated usage of control stuctures (if, loops)
- functions are not trivial (eg `mean()` is not sufficient)
- code up to 15-20 lines
- relates to finance / economics

If you are stuck:

- discuss your idea in class
- modify some functions that inside Python intoduction notebook
- replicate or alternate some standard library functions
- think of some workflow or a business process in finance or operations - what calculations can be needed
- function that does something random